<!-- Blog Below the Fold Display Ad -->

<script>
     if (window.devConsent.consent === true) {
          var block = document.getElementsByTagName("ins")[0];
          var adScript = document.createElement("script");
          adScript.setAttribute("async", {});
          adScript.setAttribute("src", "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js");
          block.parentElement.appendChild(adScript);
          (adsbygoogle = window.adsbygoogle || []).push({});
     }
</script>